name: TOC Generator

on:
  push:
    branches:
      - main
    paths:
      - "README.md"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generateTOC:
    name: Generate TOC
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: technote-space/toc-generator@v4
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TARGET_PATHS: "README.md"
          TOC_TITLE: "## Table of Contents"
          FOLDING: false
